# STM32CubeIDE / Eclipse
**/.settings/
**/Debug/
**/Release/
**/bin/
**/obj/
*.launch
*.o
*.elf
*.list
*.map

# KiCad
*.kicad_pcb-bak
*.kicad_sch-bak
*.kicad_prl-bak
*-backups/
_autosave-*
*.lck
fp-info-cache
python-scripts/

# OS/IDE
.DS_Store
.vscode/
